# Las matemáticas tras la regresión logística
## Las tablas de continfecia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/gender-purchase/Gender Purchase.csv")
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [3]:
df.shape

(511, 2)