# Las matemáticas tras la regresión logística
## Las tablas de continfecia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/gender-purchase/Gender Purchase.csv")
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [3]:
df.shape

(511, 2)

In [5]:
contingency_table = pd.crosstab(df["Gender"], df["Purchase"])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [6]:
contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [7]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [8]:
contingency_table.astype("float").div(contingency_table.sum(axis=1), axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## La probabilidad condicional

In [9]:
from IPython.display import display, Math, Latex

* ¿Cuál es la provabilidad de que un cliente compre un producto sabiendo que es un hombre?
* ¿Cuál es la provabilidad de que un sabien que un cliente compra un producto sea mujer?

In [12]:
display(Math(r'P(Purchase|Male) = \frac{Numero\total\de\compras\hechas\por\hombres}{Numero\total\de\hombres\del\grupo} = \frac{purchase\cap Male}{Male}'))

In [13]:
121/246

0.491869918699187

In [16]:
display(Math(r'P(Female|Prucahse)= \frac{Numero\ total\ de\ compras\ hechas\ por\ mujeres}{Numero\ total\ de\ compras} = \frac{Female\cap Purchase}{Purchase}'))

In [17]:
159/280

0.5678571428571428

In [19]:
display(Math(r'P(Purchase|Male)'))
print(121/246)
display(Math(r'P(NO\ Purchase|Male)'))
print(121/246)
display(Math(r'P(Purchase|Male)'))
print(121/246)
display(Math(r'P(No\ Purchase|Male)'))
print(121/246)

0.491869918699187

0.491869918699187

0.491869918699187

0.491869918699187

### Ratio de probabilidad
Cociente entre casos de éxito sobre los fracasos en el suceso estudiado y para cada grupo

In [25]:
display(Math(r'P_m = \ probabilidad\ de\ compras\ sabiendo\ que\ es\ un\ hombres'))
display(Math(r'P_m = \ probabilidad\ de\ compras\ sabiendo\ que\ es\ un\ mujer'))
display(Math(r'odds_{purchase, male} = \frac{P_m}{1-P_m}'))
display(Math(r'odds_{purchase, femamle} = \frac{P_m}{1-P_m}'))

In [26]:
pm = 121/246
pf = 159/256
odds_m = pm/(1-pm)
odds_f = pm/(1-pf)

In [28]:
odds_m

0.9680000000000002

In [27]:
odds_f

1.2981309194535244

### La regresión logística dese la regresión lineal

In [32]:
display(Math(r'y = \alpha + \beta \cdot x'))
display(Math(r'(x,y)\in[-\infty, +\infty]^2'))

In [37]:
display(Math(r'y\in\{0,1\}'))
display(Math(r'p\in [0,1]'))
display(Math(r'P = \alpha + \beta\cdot X'))